<?xml version="1.0"?>
<launch>
    <include file="$( find navigation_test )/launch/bag_record.launch">
        <arg name="bag_path" value="/share/uhr-se/bag_record/" />
    </include>

    <rosparam command="load" ns="/navigation_test_route" file="$(find navigation_test)/routes/1.yaml"/>
    <arg name="navigation" value="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
    <arg name="robot" value="cob3-3" />

    <node name="navigation_test" pkg="navigation_test" type="navigation_test.py" output="screen">
        <param name="~robot" value="$(arg robot)" />
        <param name="~navigation" value="$(arg navigation)" />
    </node>
</launch>
