<?xml version="1.0"?>
<launch>
    <include file="$( find navigation_test_samples )/launch/sample_base.launch">
        <arg name="scenarioName" value="navigation_resign" />
        <arg name="timeoutInS"   value="3000" />
    </include>

    <include file="$( find navigation_test_samples_gazebo_objects )/launch/box_blocking_main_room.launch" />
    <!--<include file="$( find navigation_test_samples_gazebo_objects )/launch/box_blocking_side_room.launch" />-->
</launch>
