<?xml version="1.0"?>
<launch>
    <arg name="setupRobotService" />
    <arg name="timeoutInS" default="300" />

    <include file="$( find navigation_test_skeleton )/launch/navigation.launch">
        <arg name="scenarioName" value="debugScenario" />
        <arg name="timeoutInS"   value="$( arg timeoutInS )" />
        <arg name="robot"        value="cob3-3" />
        <arg name="repository"   value="git@github.com:SimonEbner/navigation_test_results.git" />
        <arg name="bagPath"      value="/share/uhr-se/bagrecord/" />
        <arg name="navigation"   value="2dros_nav_tr" />
        <arg name="scenarioFile" value="$( find navigation_test_samples )/routes/1.yaml" />
        <arg name="setupRobotService" value="$( arg setupRobotService )" />
    </include>
</launch>
