<?xml version="1.0"?>
<launch>
    <arg name="scenarioName" />
    <arg name="robot" />
    <arg name="navigation" />

    <include file="$( find navigation_test_skeleton )/launch/bag_record.launch" />

    <include file="$( find navigation_test_camera )/launch/spawn_camera.launch" />

    <!-- Set time-limit practically to infinitiy and abort within the test script to shut
         everything down properly -->
    <node name="navigation_test_skeleton" pkg="navigation_test_skeleton" type="navigation_test.py" output="screen">
        <param name="scenarioName" value="$( arg scenarioName )" />
        <param name="robot"        value="$( arg robot )" />
        <param name="navigation"   value="$( arg navigation )" />
    </node>
</launch>
