<?xml version="1.0"?>
<launch>
    <arg name="bag_path" />
    <arg name="robot" />
    <arg name="navigation" />
    <arg name="repository" />
    <arg name="scenarioFile" />
    <arg name="setupRobotServiceName" default="/navigation_test/setup_robot" />

    <include file="$( find navigation_test_skeleton )/launch/bag_record.launch">
        <arg name="bag_path" value="$( arg bag_path )" />
    </include>

    <node name="navigation_test_skeleton" pkg="navigation_test_skeleton" type="navigation_test.py" output="screen">
        <rosparam file="$( arg scenarioFile )" command="load"/>
        <param name="~robot"      value="$( arg robot )" />
        <param name="~navigation" value="$( arg navigation )" />
        <param name="~repository" value="$( arg repository )" />
        <param name="~setupRobotServiceName" value="$( arg setupRobotServiceName )" />
    </node>
</launch>
