<?xml version="1.0"?>
<launch>
    <include file="$( find ipa_tests )/launch/base.launch">
        <arg name="route"        value="$( find ipa_tests )/config/extended_route.yaml" />
        <arg name="scenarioName" value="cob3-3_dwa_extended" />
        <arg name="robot"        value="cob3-3" />
        <arg name="navigation"   value="2dnav_ros_dwa" />
    </include>
</launch>
