<?xml version="1.0"?>
<launch>
    <arg name="videoConfig" default="$( find navigation_test_analysis )/videoConfigExample.yaml" />
    <arg name="filepath" default="/home/aub-ch/bagFiles/16e4937f-6fcd-483b-9018-1c813924e246.bag" />
    <arg name="videofilepath" default="/home/aub-ch/videoFiles/" />
    <arg name="speed"      default="8" />
    <arg name="repository" default="fromBagfile" />

    <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
        <remap from="/image" to="/topCamera/image_raw"/>
        <param name="filename_format" value="$( arg videofilepath )/frame%06i.jpg"/>
    </node>

    <node name="analyse_bag_file" pkg="navigation_test_analysis" type="worker.py" output="screen" required="true">
        <param name="~filepath"   value="$( arg filepath )" />
        <param name="~speed"      value="$( arg speed )" />
        <param name="~repository" value="$( arg repository )" />
    </node>
</launch>
