<?xml version="1.0"?>
<launch>
    <arg name="videoConfig" />

    <node name="screen_recorder" pkg="navigation_test_analysis" type="screenRecorder.py" output="screen">
        <rosparam command="load" file="$( arg videoConfig )" />
        <param name="uri" value="$( arg videoPath )" />
    </node>
</launch>
