<?xml version="1.0"?>
<launch>
    <arg name="videoConfig" default="$( find navigation_test_analysis )/videoConfig.yaml" />
    <arg name="uri"         default="/dev/null" />

    <node name="screen_recorder" pkg="navigation_test_analysis" type="videoRecorder.py" output="screen">
        <rosparam command="load" file="$( arg videoConfig )" />
        <param name="uri" value="$( arg uri )" />
    </node>
</launch>
