<?xml version="1.0"?>
<launch>
    <arg name="topicName" default="gazebo_gt_tf" />
    <arg name="modelName" default="robot" />

    <node name="gazebo_gt_tf_publisher" pkg="gazebo_gt_tf_publisher" type="gazebo_gt_tf_publisher.py" output="screen">
        <param name="~topicName" value="$( arg topicName )" />
        <param name="~modelName" value="$( arg modelName )" />
    </node>
</launch>
